/java/build/

/java/api/manifest.mf
/java/api/nbbuild.xml
/java/api/build/*
/java/api/dist/*
/java/api/nbproject/*

/java/applets/manifest.mf
/java/applets/nbbuild.xml
/java/applets/build/*
/java/applets/dist/*
/java/applets/nbproject/*

/java/demo/manifest.mf
/java/demo/nbbuild.xml
/java/demo/build/*
/java/demo/dist/*
/java/demo/nbproject/*

/java/test/manifest.mf
/java/test/nbbuild.xml
/java/test/build/*
/java/test/dist/*
/java/test/nbproject/*

/csharp/*
.gradle